<section class="pt-4 my-4 pt-md-11">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md-5 col-lg-6 order-md-2">
				<img src="images/supatalks-header.jpg" class="mb-6 rounded-4 img-fluid mw-md-150 mw-lg-130 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
			</div>
			<div class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate" data-aos="fade-up">
				<h2 class="text-center display-4 text-md-start">
					Welcome to <span class="text-primary">Supatalks</span>. 
                    <br>
                    Learn anything.
				</h2>
				<p class="mb-6 text-center lead text-md-start text-body-secondary mb-lg-8">
					The best conference for learning new skills, meeting new people, and getting inspired. Join a community of tech enthusiasts.
				</p>
				<div class="text-center text-md-start">
					<a href="#" class="shadow btn btn-dark lift me-1">
						Get a ticket <i class="bi bi-ticket-perforated"></i>
					</a>
				</div>

			</div>
		</div>
		<!-- / .row -->
	</div>
	<!-- / .container -->
</section>
